/* global */
/* breackpoint */
/* color */
/* time */
/* transition time */
/* loader time */
/* menu card */
/* flex */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes remove-overflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
/***** fadein *****/
@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
/***** fadeout *****/
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 100;
  }
  66% {
    opacity: 1;
    z-index: 100;
  }
  90% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
    display: none;
  }
}
@keyframes display-search-form {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide-search-form {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes circle-rotation {
  0% {
    transform: rotateY(0deg);
    scale: 1;
  }
  50% {
    transform: rotateY(180deg);
    scale: 1.75;
  }
  100% {
    transform: rotateY(-360deg);
    scale: 0.1;
  }
}
/* mobile */
@keyframes display-page-home-1 {
  0% {
    height: 0px;
  }
  100% {
    height: 2252px;
  }
}
@keyframes display-page-2 {
  0% {
    height: 1590px;
  }
  100% {
    height: 2252px;
  }
}
@keyframes display-page-menu-3 {
  0% {
    height: 2252px;
  }
  100% {
    height: 1670px;
  }
}
/* tablette */
@media screen and (min-width: 768px) {
  @keyframes display-page-home-1 {
    0% {
      height: 0px;
    }
    100% {
      height: 1460px;
    }
  }
  @keyframes display-page-2 {
    0% {
      height: 1600px;
    }
    100% {
      height: 1460px;
    }
  }
  @keyframes display-page-menu-3 {
    0% {
      height: 1460px;
    }
    100% {
      height: 1680px;
    }
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  @keyframes display-page-home-1 {
    0% {
      height: 0px;
    }
    100% {
      height: 1395px;
    }
  }
  @keyframes display-page-2 {
    0% {
      height: 1705px;
    }
    100% {
      height: 1395px;
    }
  }
  @keyframes display-page-menu-3 {
    0% {
      height: 1395px;
    }
    100% {
      height: 1786px;
    }
  }
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: height, opacity 0.75s;
  z-index: 0;
  overflow: hidden;
  background-color: #fff;
}
.page__home {
  animation: fadeIn 0.75s forwards, display-page-home-1 0.75s forwards 2s;
  -webkit-animation: fadeIn 0.75s forwards, display-page-home-1 0.75s forwards 2s;
}
.page__home:target {
  animation: fadeIn 0.75s forwards, display-page-2 0.75s forwards;
  -webkit-animation: fadeIn 0.75s forwards, display-page-2 0.75s forwards;
}
.page__home:target ~ .overlay-container {
  display: none;
}
.page__home:target > .header > .search-form {
  animation: display-search-form 0.5s forwards;
  -webkit-animation: display-search-form 0.5s forwards;
}
.page__menu {
  animation: fadeIn 0.75s forwards, display-page-2 0.75s forwards reverse;
  -webkit-animation: fadeIn 0.75s forwards, display-page-2 0.75s forwards reverse;
}
.page__menu:target > .header > .search-form {
  animation: hide-search-form 0.75s forwards;
  -webkit-animation: hide-search-form 0.75s forwards;
}
.page__menu--note-enchantee:target {
  animation: fadeIn 0.75s forwards, display-page-menu-3 0.75s forwards;
  -webkit-animation: fadeIn 0.75s forwards, display-page-menu-3 0.75s forwards;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.header__icon-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 17px;
  width: 30px;
  height: 30px;
}
.header__logo-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 63px;
  padding-top: 14px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.header__logo--text {
  display: block;
}
.header__logo--img {
  display: none;
  width: 200px;
}

@media (min-width: 1024px) {
  .header__logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 96px;
    padding: 0;
  }
  .header__logo--text {
    display: none;
  }
  .header__logo--img {
    display: flex;
  }
}
.main {
  max-width: 1440px;
  position: relative;
}

@media (min-width: 1441px) {
  .main {
    margin: 0 auto;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  position: relative;
  padding: 22px 25px;
  background-color: #353535;
  color: #fff;
}
.footer__logo {
  height: 27px;
  margin-bottom: 16px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 7px;
}
.footer__link {
  display: flex;
}
.footer__icon--utensils {
  margin-right: 11px;
  font-size: 13px;
}
.footer__icon--handshake {
  transform: rotate(-25deg) scale(0.6) translateX(-2px);
}
.footer__text {
  display: flex;
  align-items: center;
  width: 190px;
}
.footer__text--smaller {
  height: 20px;
  width: 130px;
}
.footer__text::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 13px;
  width: 22px;
}
.footer__text--icon-utensils::before {
  content: "\f2e7";
}
.footer__text--icon-handshake::before {
  content: "\f2b5";
  justify-content: left;
}
.footer__text--icon-utensils::before {
  transform: translateY(-0.75px);
}
.footer__text--icon-handshake::before {
  transform: rotate(-35deg) scale(0.9) translateX(-1px) translateY(-1px);
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    flex: 0 0 114px;
    gap: 15px;
    padding: 30px 25px;
  }
  .footer__logo {
    margin-bottom: 0;
    width: 138px;
  }
  .footer__list {
    flex-direction: row;
    align-items: flex-start;
    gap: 7px;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 89px 0 57px;
  background-color: #f6f6f6;
  transition: all 0.25s;
}
.hero__title {
  height: 68px;
  margin: 0 58px 0 42px;
}
.hero__text {
  height: 46px;
  margin: 0 26px 27px 34px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    height: 47px;
    line-height: 47px;
    font-size: 40px;
    margin-bottom: 18px;
  }
  .hero__text {
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 80px 0 30px;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  height: 440px;
  padding: 48px 20px 68px 20px;
  margin: 0 auto;
}
.fonctionnement__title {
  height: 31px;
  margin-bottom: 26px;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  counter-reset: steps;
  list-style: none;
  height: 100%;
  gap: 25px;
}
.fonctionnement__item {
  display: flex;
  flex: 1;
  counter-increment: steps;
  align-items: center;
  list-style: none;
}
.fonctionnement__item::before {
  content: counter(steps);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
  font-size: small;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    height: initial;
    max-width: 100%;
    padding: 48px 60px 68px 60px;
  }
  .fonctionnement__list {
    flex-direction: row;
    gap: 20px;
  }
  .fonctionnement__item {
    flex: 0 1 335px;
    height: 72.4px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement__title {
    margin-bottom: 28px;
  }
}
.restaurants {
  padding: 54px 17px 66px 18px;
  background-color: #f6f6f6;
}
.restaurants__title {
  margin-bottom: 20px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .restaurants {
    padding: 30px 60px;
  }
  .restaurants__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 30px 180px;
  }
  .restaurants__title {
    margin-bottom: 28px;
  }
  .restaurants__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
  }
}
.menu__banner-img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 40px;
  top: -25px;
}
.menu__background {
  position: absolute;
  top: -30px;
  max-width: 1055px;
  width: 100%;
  height: 1235px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 0;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  max-width: 341px;
  width: 100%;
  height: 29px;
}
.menu__btn-like {
  margin-right: 24px;
  margin-top: 9px;
}
.menu__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 349px;
  width: 100%;
}
.menu__category-title {
  display: flex;
  align-self: flex-start;
  position: relative;
  height: 27px;
  text-transform: uppercase;
}
.menu__category-title-line {
  position: absolute;
  bottom: 0;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.menu__btn--submit {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .menu__header {
    max-width: 307px;
    height: 41px;
    display: flex;
    align-items: center;
  }
  .menu__category {
    max-width: 634px;
  }
  .menu__btn-like {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .menu__banner {
    height: 383px;
    overflow: hidden;
  }
  .menu__banner-img {
    position: relative;
    z-index: 0;
    top: -330px;
    height: initial;
    max-width: 1440px;
  }
  .menu__wrapper {
    top: 0;
    padding-top: 11px;
    margin-bottom: 40px;
  }
  .menu__header {
    height: 41px;
  }
  .menu__background {
    top: -40px;
    border-radius: 51px 51px 0 0;
  }
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 63px;
  z-index: 0;
  transition: height 0.5s;
  overflow: hidden;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
.search-form__icon {
  position: relative;
  left: 35px;
  margin-right: 17px;
  color: #353535;
}
.search-form__input {
  background: none;
  border: none;
  padding: 5px 17px 5px 35px;
  border-radius: 15px;
  width: 180px;
  font-size: 16px;
  color: #353535;
}
.search-form__input:focus {
  outline: 1px solid #7e7e7e;
}
.search-form__btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  right: 26px;
  width: 26px;
  height: 28px;
  border: none;
  background: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
.search-form__btn-icon {
  position: relative;
  right: 1px;
}
.search-form__btn--text {
  display: none;
}

@media screen and (min-width: 1024px) {
  .search-form {
    top: 96px;
  }
  .search-form__btn {
    display: flex;
  }
}
.step-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  align-self: stretch;
  flex: 0 1 322px;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}
.step-card__icon {
  color: #7e7e7e;
}
.step-card__icon--mobile {
  font-size: 20px;
  line-height: 20px;
  margin-left: 33.5px;
  transform: translateY(-3px) scale(0.87, 1);
}
.step-card__icon--list {
  margin-left: 34.5px;
  transform: translateY(-3px);
}
.step-card__icon--store {
  margin-left: 35.5px;
  transform: translateY(-3px) scale(1, 1.125);
  color: #9356dc;
}
.step-card__text {
  position: absolute;
  left: 73.5px;
  padding-right: 10px;
  transform: translateY(-0.67px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  z-index: 0;
  height: 251px;
  gap: 16px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.card__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.card__img {
  align-self: center;
  min-width: 346px;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: 70px;
}
.card__badge--new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99e2d0;
}
.card__badge--new::before {
  content: "Nouveau";
  color: var(--Green-Font, #008766);
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 13px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
}
.card__title {
  margin-bottom: 5px;
}
.card__btn-like {
  position: absolute;
  z-index: 20;
  border: none;
  background: none;
  bottom: 33px;
  right: 25px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 490px;
  }
  .card__img {
    width: 498.5px;
  }
  .card__content {
    align-self: flex-start;
  }
  .card__btn {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    max-width: 490px;
  }
  .card__img {
    width: 498.5px;
  }
}
.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  position: relative;
  max-width: 349px;
  width: 100%;
  height: 69px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: max-width 0.175s;
}
.menu-card__checkbox {
  display: none;
}
.menu-card__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.menu-card__content {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-end;
  transition: flex 0.175s ease;
  flex-shrink: 0;
  width: 100%;
  padding: 15px;
  gap: 5px;
  overflow: hidden;
}
.menu-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  flex: 1 0 0;
  height: 42px;
  gap: 5px;
  overflow: hidden;
}
.menu-card__title {
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card__description {
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card--checked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: flex 0.175s ease;
  width: 59px;
  height: 69px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  overflow: hidden;
}
.menu-card__iconCheck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.menu-card :hover ~ .menu-card__content {
  flex-shrink: 1;
}
.menu-card :checked ~ .menu-card__content {
  flex-shrink: 1;
}
.menu-card :checked ~ .menu-card--checked .menu-card__iconCheck {
  border: 1px solid #9356dc;
}

.menu-card--1:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--1:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--2:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--2:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--3:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--3:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--4:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--4:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--5:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--5:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--6:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--6:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--7:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--7:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--8:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--8:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--9:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--9:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--10:nth-of-type(2n+1) {
  transform: translateX(-1000%);
}

.menu-card--10:nth-of-type(2n) {
  transform: translateX(1000%);
}

.menu-card--1:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.125s forwards;
}

.menu-card--1:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.125s forwards;
}

.menu-card--2:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.25s forwards;
}

.menu-card--2:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.25s forwards;
}

.menu-card--3:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.375s forwards;
}

.menu-card--3:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.375s forwards;
}

.menu-card--4:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.5s forwards;
}

.menu-card--4:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.5s forwards;
}

.menu-card--5:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.625s forwards;
}

.menu-card--5:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.625s forwards;
}

.menu-card--6:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.75s forwards;
}

.menu-card--6:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.75s forwards;
}

.menu-card--7:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 0.875s forwards;
}

.menu-card--7:nth-of-type(2n) {
  animation: slideInRight 0.5s 0.875s forwards;
}

.menu-card--8:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 1s forwards;
}

.menu-card--8:nth-of-type(2n) {
  animation: slideInRight 0.5s 1s forwards;
}

.menu-card--9:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 1.125s forwards;
}

.menu-card--9:nth-of-type(2n) {
  animation: slideInRight 0.5s 1.125s forwards;
}

.menu-card--10:nth-of-type(2n+1) {
  animation: slideInLeft 0.5s 1.25s forwards;
}

.menu-card--10:nth-of-type(2n) {
  animation: slideInRight 0.5s 1.25s forwards;
}

@media screen and (min-width: 768px) {
  .menu-card {
    max-width: 634px;
  }
}
.btn-like__input {
  display: none;
}
.btn-like__icon {
  border: none;
  background: none;
  cursor: pointer;
}
.btn-like__icon::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  font-size: 22px;
  line-height: 21px;
  font-weight: 400;
  display: block;
}
.btn-like__input:checked + .btn-like__icon::before {
  animation: scaleUp 0.3s forwards;
  transition: all 1s;
}
.btn-like__input:not(:checked) + .btn-like__icon::before {
  animation: scaleDown 0.3s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
    opacity: 1;
    font-weight: 400;
    color: #000;
  }
  75% {
    transform: scale(1.25);
    opacity: 0.25;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(#ff79da -11.44%, #9356dc 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.btn__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 50px;
  width: 218px;
  margin: 0 75px 0 82px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(#ff79da -11.44%, #9356dc 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s;
}
.btn__link--command {
  margin-bottom: 15px;
}
.btn__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}
.btn__link:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}
.btn__link:hover::before {
  opacity: 0.15;
}
.btn__link:active {
  transform: scale(0.97, 0.98);
  transition: scale 0.01s;
}

@media screen and (min-width: 1024px) {
  .btn__link {
    margin: 0;
  }
}
.overlay-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  animation: fadeOut 3s ease-in-out forwards;
}

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
}

.circle {
  position: absolute;
  background: transparent;
  width: 200px;
  height: 200px;
  z-index: 1;
  border-radius: 50%;
  opacity: 1;
}
.circle-background {
  width: 210px;
  height: 210px;
  border: 12px solid black;
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7), inset 0px 0px 15px rgb(0, 0, 0);
  animation: circle-rotation 1s ease-in-out 1s;
  transition: transform 1s ease-in-out;
}
.circle-center {
  width: 110px;
  height: 110px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), inset 0 0 8px rgba(0, 0, 0, 0.4);
  animation: circle-rotation 1s ease-in-out 1s;
  transition: transform 1s ease-in-out;
}
.circle-2 {
  width: 220px;
  height: 220px;
  border: 2px solid #9356dc;
  box-shadow: 0 0 8px #9356dc, inset 0 0 8px #9356dc;
  animation: circle-rotation 0.7s ease-in-out 1s;
  transition: transform, scale 0.7s ease-in-out;
}
.circle-1 {
  border: 4px solid #ff79da;
  box-shadow: 0 0 8px #ff79da, inset 0 0 8px #ff79da;
  animation: circle-rotation 0.5s ease-in-out 1s;
  transition: transform, scale 0.5s ease-in-out;
}
.circle-3 {
  width: 170px;
  height: 170px;
  border: 2px solid #99e2d0;
  box-shadow: 0 0 8px #99e2d0, inset 0 0 8px #99e2d0;
  animation: circle-rotation 0.3s ease-in-out 1s;
  transition: transform, scale 0.3s ease-in-out;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  z-index: 1;
}

.letter {
  display: flex;
  font-family: "Shrikhand";
  font-size: 50px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 121, 218, 0.5), 0 1px 4px #9356dc, 0 1px 8px #99e2d0;
}

.letter-1 {
  animation: fadeIn 2s ease-in-out 0.125s forwards;
}

.letter-2 {
  animation: fadeIn 2s ease-in-out 0.25s forwards;
}

.letter-3 {
  animation: fadeIn 2s ease-in-out 0.375s forwards;
}

.letter-4 {
  animation: fadeIn 2s ease-in-out 0.5s forwards;
}

.letter-5 {
  animation: fadeIn 2s ease-in-out 0.625s forwards;
}

.letter-6 {
  animation: fadeIn 2s ease-in-out 0.75s forwards;
}

.letter-7 {
  animation: fadeIn 2s ease-in-out 0.875s forwards;
}

.letter-8 {
  animation: fadeIn 2s ease-in-out 1s forwards;
}

@media screen and (min-width: 1024px) {
  .circle {
    width: 400px;
    height: 400px;
  }
  .circle-background {
    width: 420px;
    height: 420px;
    border-width: 24px;
  }
  .circle-center {
    width: 220px;
    height: 220px;
    border-width: 2px;
  }
  .circle-2 {
    width: 440px;
    height: 440px;
    border-width: 4px;
  }
  .circle-1 {
    border-width: 8px;
  }
  .circle-3 {
    width: 340px;
    height: 340px;
    border-width: 4px;
  }
  .letter {
    font-size: 100px;
  }
}/*# sourceMappingURL=index.css.map */