@charset "UTF-8";
.header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.header__icon-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
  margin: auto 0;
}
.header__icon-back--home {
  display: none;
}
.header__logo {
  position: relative;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__location {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  background-color: var(--grey-2);
}
.header__text {
  color: var(--grey);
}

.footer {
  padding: 25px;
  background-color: var(--grey);
  color: white;
}
.footer__logo {
  height: 27px;
  margin-bottom: 16px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 7px;
  list-style: none;
}
.footer__link {
  display: flex;
}
.footer__icon--utensils {
  margin-right: 11px;
  font-size: 13px;
}
.footer__icon--handshake {
  transform: rotate(-25deg) scale(0.6) translateX(-2px);
}
.footer__text {
  display: flex;
  align-items: center;
}
.footer__text::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 13px;
  width: 22px;
}
.footer__text--icon-utensils::before {
  content: "\f2e7";
}
.footer__text--icon-handshake::before {
  content: "\f2b5";
  justify-content: left;
}
.footer__text--icon-utensils::before {
  transform: translateY(-0.75px);
}
.footer__text--icon-handshake::before {
  transform: rotate(-35deg) scale(0.9) translateX(-1px) translateY(-1px);
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 39.5px;
  background-color: var(--color-bg);
}
.hero__title {
  height: 68px;
  margin: 0 58px 0 42px;
}
.hero__paragraph {
  height: 46px;
  margin: 0 26px 27px 34px;
}
.hero__btn {
  padding: 13px 18.75px;
  margin: 0 75px 57px 82px;
  border-radius: 25px;
  color: var(--white);
  background: var(--button-gradient);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding: 48px 20px 68px 20px;
}
.fonctionnement__title {
  height: 31px;
  margin-bottom: 26px;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  counter-reset: steps;
  list-style: none;
  height: 100%;
  gap: 25px;
}
.fonctionnement__item {
  display: flex;
  counter-increment: steps;
  flex: 1;
  align-items: center;
  list-style: none;
}
.fonctionnement__item::before {
  content: counter(steps);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--white);
  font-size: small;
}

.restaurants {
  padding: 54px 17px 66px 18px;
  background-color: var(--color-bg);
}
.restaurants__title {
  margin-bottom: 20px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.step-card {
  display: flex;
  flex: 1;
  align-items: center;
  align-self: stretch;
  border-radius: 25px;
  background-color: var(--color-bg);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}
.step-card__icon {
  color: var(--grey-4);
}
.step-card__icon--mobile {
  margin-left: 33.5px;
  transform: translateY(-5px) scale(1.085, 1.25);
}
.step-card__icon--list {
  margin-left: 34.5px;
  transform: translateY(-4px);
}
.step-card__icon--store {
  margin-left: 35.5px;
  transform: translateY(-3px) scale(1, 1.125);
  color: var(--color-primary);
}
.step-card__text {
  position: absolute;
  left: 106px;
  height: 15.67px;
}
.step-card__text--mobile {
  transform: translateY(-2px);
}
.step-card__text--list {
  transform: translateY(-4px);
}
.step-card__text--store {
  transform: translateY(-2px);
}

.card {
  position: relative;
  border-radius: 15px;
  background-color: white;
  z-index: 0;
}
.card__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__img {
  height: 231px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__icon--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: var(--color-tertiary);
}
.card__icon--new::before {
  content: "Nouveau";
  color: var(--Green-Font, #008766);
}
.card__content {
  margin-left: 13px;
  padding-bottom: 12px;
}
.card__title {
  margin-bottom: 5px;
}
.card__btn {
  display: none;
}
.card__btn-like {
  position: absolute;
  z-index: 20;
  border: none;
  background: none;
  bottom: 33px;
  right: 25px;
}
.card__btn-icon::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004"; /* Code Unicode pour l'icône du cœur */
  font-size: 22px;
  font-weight: 400;
  display: block;
  width: 22px;
  height: 22px;
}
.card__btn:checked + .card__btn-like .card__btn-icon::before {
  font-weight: 900;
  background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  color: transparent; /* Rendre le contenu de l'icône transparent */
  -webkit-background-clip: text; /* Pour le remplissage de dégradé */
  background-clip: text; /* Pour le remplissage de dégradé */
}/*# sourceMappingURL=index.css.map */