.main {
    max-width: 1440px;
    position: relative;
    transition: all 0.5s;
    // overflow: hidden;
   &__home {
    // padding-top: 113px;

   }
   &__menu {

   }
}
@media (min-width: 1440px) {
    .main {
    margin: 0 auto;
    // height: 1221px;

    }
}
@media (min-width: 1024px) {
    .main {
        &__home {
            padding-top: 50px;
        }
        &__menu {
        }
    }
}
@media (min-width: 768px) {
    .main {}
}