.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: height, opacity $transition-time;
    z-index: 0;
    overflow: hidden;

    &__home {
        animation: fadeIn $transition-time forwards, remove-overflow $transition-time forwards $transition-time;
        &:target {
            > .overlay-container {
                display: none;
            }
            > .header > .search-form {
                animation: display-search-form $short-transition-time forwards;
            }
        }
    }
    &__menu {
        overflow: visible;
        animation: fadeIn $transition-time forwards;
        &:target {
            .main {
            }
            .header {
                background-color: white;
            }
            > .header>.search-form {
                animation: hide-search-form $transition-time forwards ;
            }
        }
    }
}
