@mixin fadeIn {
    animation: fadeIn $transition-time forwards;
}

@mixin fadeOut {
    animation: fadeOut $transition-time forwards;
}

$short-transition-time: 0.75s;
$transition-time: 1.5s;
$long-transition-time: 2s;

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: height, opacity $transition-time;
    z-index: 0;
    overflow: hidden;
    @include fadeOut;

    &__home {
        animation: fadeIn $transition-time forwards, remove-overflow $transition-time forwards $transition-time;
        &:target {
            > .overlay-container {
                display: none;
            }

            #header>.search-form {
                animation: display-search-form $short-transition-time forwards;
                //   height: 50px;
            }
        }
    }

    &__menu {
        overflow: visible;
        animation: fadeIn $transition-time forwards ;

        &:target {
            .main {
                height: 1444px;
            }

            .header {
                height: 96px;
                background-color: white;
            }

            #header>.search-form {
                animation: hide-search-form $short-transition-time forwards ;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 0;

    }

    100% {
        opacity: 1;
        z-index: 1;
    }
}
@keyframes remove-overflow {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

// @media screen and (min-width: 1024px) {
//     .page {
//         &__home {
//             height: 1395px;
//         }

//         &__menu {
//             height: 1590px;
//         }
//     }

// }
@keyframes display-search-form {
    0% {
        height: 0px
    }

    100% {
        height: 50px;
    }
}

@keyframes hide-search-form {
    0% {
        height: 50px;
    }

    100% {
        height: 0px;
    }
}