.banner {
    &__img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        height: 383px;
        overflow: hidden;
        &__img {
            position: relative;
            z-index: 0;
            top: -330px;
            height: 956px;
            max-width: 1440px;

            &--note-enchantee {
                height: initial;
            }
        }
    }
}