.fonctionnement {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 440px;
    padding: 48px 20px 68px 20px;
    margin: 0 auto;
    &__title {
        height: 31px;
        margin-bottom: 26px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        counter-reset: steps;
        list-style: none;

        height: 100%;
        gap: 25px;
    }
    &__item {
        display: flex;
        flex: 1;
        counter-increment: steps;
        align-items: center;
        list-style: none;

        &::before {
            content: counter(steps);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--color-primary);
            color: var(--white);
            font-size: small;
        }
    }
}

@media screen and (min-width: 1024px) {
    .fonctionnement {
        height: initial;
        width: 100%;
        padding: 50px 10px;
        &__title {
            margin-bottom: 25px;
        }
        &__list {
            flex-direction: row;
            gap: 24px;
        }
        &__item {
            flex: initial;
            height: 72.4px;
        }
    }
}
@media (min-width: 1280px) {
    .fonctionnement {
        padding: 50px 180px;
    }
}