.fonctionnement {
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 48px 20px 68px 20px;
    &__title {
        height: 31px;
        margin-bottom: 26px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        counter-reset: steps;
        list-style: none;

        height: 100%;
        gap: 25px;
    }
    &__item {
        display: flex;
        counter-increment: steps;
        flex: 1;
        align-items: center;
        list-style: none;
        &::before {
            content: counter(steps);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--color-primary);
            color: var(--white);
            font-size: small;
        }      
    }
}