.restaurants {
    padding: 54px 17px 66px 18px ;
    background-color: $bg-color;
    &__title {
        margin-bottom: 20px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}
@media screen and (min-width: 768px) {
    .restaurants {
        padding: 30px 60px;
        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 60px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .restaurants {
        padding: 30px 180px;
        &__title {
            margin-bottom: 28px;
        }
        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }
}