.hero {
  @include flex(column, center, center);
  text-align: center;
  padding: 89px 0 57px;
  background-color: $bg-color;
  transition: all 0.25s;

    &__title {
      height: 68px;
      margin: 0 58px 0 42px;
    }
    &__text {
      height: 46px;
      margin: 0 26px 27px 34px;
    }
  }
  @media screen and (min-width: 768px) {
    .hero {
      &__title {
        height: 47px;
        line-height: 47px;
        font-size: 40px;
        margin-bottom: 18px;
      }
      &__text {
        font-size: 18px;
        height: 46px;
        line-height: 46px;
        margin-bottom: 18px;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .hero {
      padding: 80px 0 30px;
    }
  }