.card {
    position: relative;
    border-radius: 15px;
    background-color: white;
    z-index: 0;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__img {
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    &__icon--new {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 16px;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        background-color: var(--color-tertiary);

        &::before {
            content: "Nouveau";
            color: var(--Green-Font, #008766);
        }
    }
    &__content {
        margin-left: 13px;
        padding-bottom: 12px;
    }
    &__title {
        margin-bottom: 5px;
    }
    &__text {}
    &__btn {
        display: none; 
        &-like {
            position: absolute;
            z-index: 20;
            border: none;
            background: none;

            bottom:33px;
            right: 25px;
        }
        &-icon::before {
            font-family: "Font Awesome 6 Free";
            content: '\f004'; /* Code Unicode pour l'icône du cœur */
            font-size: 22px;
            font-weight: 400;
            display: block;
            width: 22px;
            height: 22px;
        }
    }
    &__btn:checked + &__btn-like .card__btn-icon::before {
        font-weight: 900;
        background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
                   color: transparent; /* Rendre le contenu de l'icône transparent */
                   -webkit-background-clip: text; /* Pour le remplissage de dégradé */
                   background-clip: text; /* Pour le remplissage de dégradé */
    }
}