.step-card {
    position: relative;
    @include flex(row, normal, center);
    align-self: stretch;

    flex: 0 1 322px;
    border-radius: 25px;
    background-color: $bg-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-left: 12px;

    &__icon {
        color: $grey-lighter;

        &--mobile {
            font-size: 20px;
            line-height: 20px;
            margin-left: 33.5px;
            transform: translateY(-3px) scale(0.87, 1);
        }

        &--list {
            margin-left: 34.5px;
            transform: translateY(-3px);
        }

        &--store {
            margin-left: 35.5px;
            transform: translateY(-3px) scale(1, 1.125);
            color: $color-primary;
        }
    }

    &__text {
        position: absolute;
        left: 73.5px;
        transform: translateY(-0.67px);
    }
}