@keyframes slideInLeft {
    0% { transform: translateX(-100%); opacity: 0;}
    100% { transform: translateX(0%); opacity: 1;}
}
@keyframes slideInRight {
    0% { transform: translateX(100%); opacity: 0;}
    100% { transform: translateX(0%); opacity: 1;}
}
@keyframes remove-overflow {
    0% { overflow: hidden; }
    100% { overflow: visible; }
}
/***** fadein *****/
@mixin fadeIn { animation: fadeIn $transition-time forwards; }
@keyframes fadeIn {
    0% { opacity: 0; z-index: 0; }
    100% { opacity: 1; z-index: 1; }
}
/***** fadeout *****/
@mixin fadeOut { animation: fadeOut $transition-time forwards; }
@keyframes fadeOut {
    0% {
      opacity: 1;
      z-index: 100;
    }
    66% {
      opacity: 1;
      z-index: 100;
    }
    90% {
      opacity: 0;
      z-index: 0;
    }
    100% {
      opacity: 0;
      z-index: 0;
      display: none;
    }
  }
@keyframes display-search-form {
    0% { transform: translateY(-50px); opacity: 0}
    100% { transform: translateY(0); opacity: 1}
}
@keyframes hide-search-form {
    0% { transform: translateY(0); opacity: 1;}
    100% { transform: translateY(-50px); opacity: 0}

}
//animation rotation
@keyframes circle-rotation {
    0% {
      transform: rotateY(0deg) scale(1);
    }
    50% {
      transform: rotateY(180deg) scale(1.75);
    }
    100% {
      transform: rotateY(-360deg) scale(0.1);
    }
  }
/* mobile */
@keyframes display-page-home-1 {
    0% { height: 0px; }
    100% { height: 2252px; }
}
@keyframes display-page-2{
    0% { height: 1590px; }
    100% { height: 2252px; }
}
@keyframes display-page-menu-3 {
    0% { height: 2252px; }
    100% { height: 1670px; }
}
/* tablette */
@media screen and (min-width: 768px) {
    @keyframes display-page-home-1 {
        0% { height: 0px; }
        100% { height: 1460px; }
    }
    @keyframes display-page-2{
        0% { height: 1600px; }
        100% { height: 1460px; }
    }
    @keyframes display-page-menu-3 {
        0% { height: 1460px; }
        100% { height: 1680px; }
    }
}
/* desktop */
@media screen and (min-width: 1024px) {
    @keyframes display-page-home-1 {
        0% { height: 0px; }
        100% { height: 1395px; }
    }
    @keyframes display-page-2{
        0% { height: 1705px; }
        100% { height: 1395px; }
    }
    @keyframes display-page-menu-3 {
        0% { height: 1395px; }
        100% { height: 1786px; }
    }
}