/* global */

/* color */
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$smooth-white: rgba(0, 0, 0, 0.02);
$gradient: linear-gradient(
  to right,
  $color-tertiary 5%,
  $color-primary 15%,
  $color-secondary 65%,
  $color-primary 80%,
  $color-tertiary 100%
);

/* font */

/* time */
/* transition time */
$short-transition-time: 0.25s;
$transition-time: 0.5s;
$long-transition-time: 0.75s;
/* loader time */
$short-time: 1s;
$time: 2s;
$long-time: 3s;

/* animation */

/* mixin */

/* layout */

/* component */

/* page */

/* utils */