/* global */

/* breackpoint */
$mobile: 320px; // min-width
$tablet: 768px; // min-width
$sm-desktop: 1024px; // min-width
$lg-desktop: 1441px; // min-width


/* color */
$white: #fff;
$grey: #353535;
$grey-lightest: #eaeaea;
$grey-lighter: #7e7e7e;
$bg-color: #f6f6f6;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$smooth-white: rgba(0, 0, 0, 0.02);

$gradient: linear-gradient(
  $color-secondary -11.44%,
  $color-primary 123.93%,

);

/* font */

/* time */
/* transition time */
$short-transition-time: 0.5s;
$transition-time: 0.75s;
$long-transition-time: 1s;
/* loader time */
$short-time: 1s;
$time: 2s;
$long-time: 3s;

/* menu card */
$card-width: 349px;
$card-width--lg: 634px;
$checked-width: 59px;

/* animation */

/* mixin */

/* layout */

/* component */

/* page */

/* utils */